* {
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    letter-spacing: 0.2em;
    font-family: lato-light;
}

:root {
    --nav-height: 8vh;
}

/**
 *  Header and Navbar
 */
header {
    position: fixed;
    width: 100%;
    background-color: rgba(70, 70, 70, .95);
    /* over respect the main */
    z-index: 1;
}

/**
 *  if backdrop-filter supported
 */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    header {
        backdrop-filter: blur(25px);
        background-color: unset;
    }
}

header nav ul {
    height: var(--nav-height);
    padding: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    cursor: pointer;
    margin-right: 10px;
}

header nav ul li:nth-child(2) {
    margin-left: auto;
    margin-right: 20px;
}

header nav ul li a,
header nav ul li a img {
    width: 6.5vh;
    height: 6.5vh;
}

header nav ul li img {
    width: 5vh;
    height: 5vh;
}

/**
 *  Search section in header
 */
header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    padding-bottom: 25px;
}

header section div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

header section div img {
    width: 30px;
    height: 30px;
}

header section div input,
header section div select {
    height: 30px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
}

header section div input {
    letter-spacing: 0;
    width: 60%;
}

header section div select {
    width: 40%;
}

header section div label {
    color: white;
    font-size: 18px;
    letter-spacing: 0.2em;
}

/**
 *   Menu section in header
 */
header section a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 15px 0;
}

/**
 *   Main / Categories
 */
main {
    display: flex;
    flex-direction: column;
}

main section {
    text-align: center;
    background-size: cover;
    background-position: center;
}

main section:first-child {
    background-image: url(../img/vinile2.jpg);
}

main section h1 {
    height: 100%;
    width: 100%;
    font-size: 36px;
    color: white;
    letter-spacing: 0.35em;
    /* same of sections height */
    line-height: calc((100vh - var(--nav-height)) / 4);
    backdrop-filter: blur(1px);
    cursor: pointer;
}

main section:first-child h1 {
    height: calc(((100vh - var(--nav-height)) / 4) + var(--nav-height));
    line-height: calc(((100vh - var(--nav-height)) / 4) + 2 * var(--nav-height));
}

main section:nth-child(2) {
    background-image: url(../img/cd3.jpg);
}

main section:nth-child(3) {
    background-image: url(../img/giradischi1.jpg);
}

main section:nth-child(4) {
    background-image: url(../img/bundle.jpg);
}


@media screen and (min-width: 768px) {

    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section {
        flex: 1 0 50%;
    }

    main section:nth-child(1) h1,
    main section:nth-child(2) h1 {
        height: calc(((100vh - var(--nav-height)) / 2) + var(--nav-height));
        line-height: calc(((100vh - var(--nav-height)) / 2) + 2 * var(--nav-height));
    }

    main section:nth-child(3) h1,
    main section:nth-child(4) h1 {
        height: calc((100vh - var(--nav-height)) / 2);
        line-height: calc((100vh - var(--nav-height)) / 2);
    }

}