main {
    padding: 10px;
}

main h1 {
    font-family: lato-regular;
    text-align: center;
    margin: 10px 0 20px 0;
    letter-spacing: 0.1em;
    font-size: clamp(2em, 2.5vw, 3em);
}

main h2 {
    font-family: lato-regular;
    margin-bottom: 5px;
    letter-spacing: 0.05em;
    font-size: clamp(1em, 1.7vw, 2em);
}

li.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

li.cart-item:last-child {
    border-bottom: 1px solid #ccc;
}

li.cart-item > img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

li.cart-item > section {
    margin-left: 3vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

li.cart-item > section > header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* price */
li.cart-item > section > header span {
    font-size: clamp(0.8em, 1.4vw, 1.6em);
}

li.cart-item > section > p {
    margin-bottom: 5px;
    font-size: clamp(0.8em, 1.4vw, 1.6em);
}

li.cart-item footer {
    display: flex;
    justify-content: space-between;
}

li.cart-item footer form {
    display: none;
}

li.cart-item footer form input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

li.cart-item footer form input[name="quantity"] {
    width: 80px;
}

li.cart-item footer form input[type="submit"] {
    margin-left: 10px;
}

li.cart-item footer button,
li.cart-item footer input {
    font-size: clamp(0.8em, 1.4vw, 1.3em);
}

li.cart-item footer button:last-of-type {
    background-color: crimson;
}

form > label {
    display: none;
}

form input {
    border-radius: 5px;
    padding: 8px 10px;
    font-family: "lato-regular";
    border: none;
    font-size: clamp(15px, 1.5vw, 20px);
}

main > footer {
    text-align: center;
    margin-top: 40px;
}

main > footer > a {
    border-radius: 5px;
    background-color: #008e99;
    border: none;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
    font-family: "lato-regular";
    font-size: clamp(15px, 1.5vw, 20px);
}

main > p {
    font-family: "lato-regular";
    font-size: 150%;
    text-align: center;
    margin: 5%;
}

@media screen and (min-width: 576px) {
    main {
        padding: 30px;
    }

    li.cart-item > img {
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 20px 70px;
    }

    li.cart-item > section > footer {
        margin: 20px 0;
    }
}
