/**
 *   Main / Categories
 */
main {
    display: flex;
    flex-direction: column;
}

main section {
    text-align: center;
    background-size: cover;
    background-position: center;
}

main section:first-child {
    background-image: url(../img/vinile2.jpg);
}

main section h1 {
    height: 100%;
    width: 100%;
    font-size: 36px;
    color: white;
    letter-spacing: 0.35em;
    /* same of sections height */
    line-height: calc((100vh - var(--nav-height)) / 4);
    cursor: pointer;
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
    main section h1 {
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
    }
}

main section:first-child h1 {
    height: calc(((100vh - var(--nav-height)) / 4) + var(--nav-height));
    line-height: calc(((100vh - var(--nav-height)) / 4) + 2 * var(--nav-height));
}

main section:nth-child(2) {
    background-image: url(../img/cd3.jpg);
}

main section:nth-child(3) {
    background-image: url(../img/giradischi3.jpg);
}

main section:nth-child(4) {
    background-image: url(../img/bundle.jpg);
}

/**
 *  Medium Screens
 */
@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section {
        flex: 1 0 50%;
    }

    main section:nth-child(1) h1,
    main section:nth-child(2) h1 {
        height: calc(((100vh - var(--nav-height)) / 2) + var(--nav-height));
        line-height: calc(((100vh - var(--nav-height)) / 2) + 2 * var(--nav-height));
    }

    main section:nth-child(3) h1,
    main section:nth-child(4) h1 {
        height: calc((100vh - var(--nav-height)) / 2);
        line-height: calc((100vh - var(--nav-height)) / 2);
    }
}

/**
 *  Large Screens
 */
@media screen and (min-width: 1200px) {
    main section {
        flex: 1 0 24%;
    }

    main section:nth-child(n) h1 {
        height: 100vh;
        line-height: calc((100vh - var(--header-height)) + 2 * var(--header-height));
    }
}
