/**
 *  Header and Navbar (home)
 */
body > header {
    position: fixed;
    background-image: unset;
    width: 100%;
    background-color: #bb2e29dd;
    /* over respect the main */
    z-index: 1;
}

/**
 *  if backdrop-filter supported
 */
@supports (
    (-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))
) {
    body > header {
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        background-color: unset;
    }
}

/**
 *   Main / Categories
 */
main {
    display: flex;
    flex-direction: column;
}

main section {
    text-align: center;
    background-size: cover;
    background-position: center;
}

main section:first-child {
    background-image: url(../img/vinile2.jpg);
}

main section a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 36px;
    color: white;
    letter-spacing: 0.35em;
    /* same of sections height */
    line-height: calc((100vh - var(--nav-height)) / 2);
    cursor: pointer;
}

@supports (
    (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
    main section a {
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
    }
}

main section:first-child a {
    height: calc(((100vh - var(--nav-height)) / 2) + var(--nav-height));
    line-height: calc(
        ((100vh - var(--nav-height)) / 2) + 2 * var(--nav-height)
    );
}

main section:nth-child(2) {
    background-image: url(../img/cd3.jpg);
}

main section:nth-child(3) {
    background-image: url(../img/giradischi3.jpg);
}

main section:nth-child(4) {
    background-image: url(../img/bundle.jpg);
}

/**
 *  Medium Screens
 */
@media screen and (min-width: 768px) {
    /* main section {
        flex: 1 0 50%;
    } */

    /* main section:nth-child(1) a,
    main section:nth-child(2) a {
        height: 100vh;  calc(((100vh - var(--nav-height)) / 2) + var(--nav-height)); 
        line-height: calc(
            ((100vh - var(--header-height))) + 2 * var(--header-height)
        );
    } */

    /* main section:nth-child(3) a,
    main section:nth-child(4) a {
        height: calc((100vh - var(--nav-height)) / 2);
        line-height: calc((100vh - var(--nav-height)) / 2);
    } */
}

/**
 *  Large Screens
 */
@media screen and (min-width: 992px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main section {
        flex: 1 0 50%;
    }

    main section:nth-child(1) a,
    main section:nth-child(2) a {
        height: 100vh; /*calc(((100vh - var(--nav-height)) / 2) + var(--nav-height)); */
        line-height: calc(
            ((100vh - var(--header-height))) + 2 * var(--header-height)
        );
        font-size: 48px;
    }
}

/**
 *  Extra Large Screens
 */
@media screen and (min-width: 1200px) {
    /* main section {
        flex: 1 0 24%;
    } */

    main section:nth-child(n) a {
        height: 100vh;
        line-height: calc(
            (100vh - var(--header-height)) + 2 * var(--header-height)
        );
    }
}
