main > div {
    display: none;
}

main > section header {
    text-align: center;
}

main > section header img {
    width: 33%;
}

section {
    margin: 20px 5%;
}
section p {
    text-align: center;
}
section form {
    margin-top: 20px;
    padding: 0 5%;
}

section form li {
    margin-bottom: 25px;
}

section form li img {
    width: 10%;
    vertical-align: text-top;
    margin-right: 5%;
}

section form input {
    width: 85%;
    border: none;
    line-height: 2;
}

section form input:focus {
    outline: none;
}

section form li a {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15%;
}

section form li:last-child {
    text-align: center;
}

section form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

section form input:not([type="submit"]) {
    border-bottom: 1px solid #000;
}

section form ul {
    padding: 0;
    list-style: none;
}

section form label {
    /* Accessibility */
    display: block;
    overflow: hidden;
    height: 0;
    width: 0;
}
section > p:first-of-type {
    color: #bb2e29;
    font-weight: bold;
    display: none;
}

@media screen and (min-width: 768px) {
    main {
        min-height: 100vh;
    }
    main > div,
    main > section {
        float: left;
    }

    main > div {
        display: block;
        width: 66%;
        min-height: 100vh; /* ask help :) */
        background-image: url(../img/vinile1.jpg);
        background-size: cover;
        background-position: center;
        margin: 0;
    }

    main > section {
        margin: 0;
        margin-top: 20px;
        height: 100%;
        width: 34%;
    }

    main > section > form,
    main > section > h2 {
        margin: 20px 10% 0;
    }
}
