main {
    padding: 10px;
}

main h1 {
    font-family: lato-regular;
    text-align: center;
    margin: 10px 0 20px 0;
    letter-spacing: 0.1em;
    font-size: clamp(2em, 2.5vw, 3em);
}

main > ul {
    list-style: none;
    padding: 0;
}

main > ul > li {
    width: 100%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #ccc;
}

main > ul > li:last-child {
    border-bottom: 1px solid #ccc;
}

main > ul > li > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > ul > li > div > div:first-of-type {
    flex-grow: 1;
}

main > ul > li > div > div > div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

main > ul > li span.dot {
    height: 15px;
    width: 15px;
    background-color: #3a71ea;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

main > ul > li .subject {
    font-size: clamp(1.3em, 1.75vw, 2em);
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main > ul > li .date {
    font-size: clamp(1em, 1.4vw, 1.3em);
    margin-left: 20px;
    color: #555;
}

main > ul > li .message {
    display: none;
    padding: 10px;
    font-size: clamp(1em, 1.4vw, 1.3em);
}

/* read button */
main > ul > li button {
    padding: 5px 1em;
    font-size: clamp(1em, 1.25vw, 1.5em);
    border: none;
    background-color: #3a71ea;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

main > ul > li .trash-button {
    padding: 0;
    border: 0;
    background: none;
    height: 30px;
    width: 30px;
    float: right;
}

main > ul > li .trash-button img {
    height: 30px;
    width: 30px;
}
