:root {
    --section-height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main h1 {
    font-family: lato-regular;
    text-align: center;
    margin: 10px 0 20px 0;
    letter-spacing: 0.1em;
    font-size: clamp(2em, 2.5vw, 3em);
    flex: 1 0 100%;
}

main > section {
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

main > section > a {
    display: block;
    width: 100%;
    height: var(--section-height);
    line-height: var(--section-height); /* Center the text vertically */
    color: white;
    font-size: clamp(1.5em, 2vw, 2.5em);
    text-align: center;
    letter-spacing: 0.2em;
    border-radius: 5px;
}

/**
 *  if backdrop-filter supported
 */
@supports (
    (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
    main > section > a {
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
    }
}

main > section:nth-of-type(1) {
    background-image: url(../img/ordini.jpg);
}

main > section:nth-of-type(2) {
    background-image: url(../img/notifiche.jpg);
}

main > section:nth-of-type(3) {
    background-image: url(../img/pagamento.jpg);
    background-position: unset;
}

main > section:nth-of-type(4) {
    background-image: url(../img/impostazioni.jpg);
}

@media screen and (min-width: 768px) {
    :root {
        --section-height: 200px;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main > section {
        flex: 1 0 40%;
        margin: 3%;
        height: 200px;
    }

    main > section > a {
        height: var(--section-height);
        line-height: var(--section-height);
    }
}
@media screen and (min-width: 992px) {
    main > section {
        margin: 2%;
    }
}
