main > div {
    display: none;
}

main > section header {
    text-align: center;
}

main > section header img {
    width: 15%;
}

section {
    margin: 20px 5%;
}
section p {
    text-align: center;
}

section form {
    margin-top: 20px;
}

section form li {
    margin-bottom: 15px;
}

section form > ul > li:nth-child(3) {
    display: none;
}

section form li img {
    width: 10%;
    vertical-align: text-top;
    margin-right: 5%;
}

section form ul input {
    width: 85%;
    border: none;
    line-height: 2;
}

section form ul input:focus {
    outline: none;
}

section form li a {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15%;
}

section form li:last-child {
    text-align: center;
}

section form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

section form input:not([type="submit"]) {
    border-bottom: 1px solid #000;
}

section form ul {
    padding: 0;
    list-style: none;
}

section form ul label {
    /* Accessibility */
    display: block;
    overflow: hidden;
    height: 0;
    width: 0;
}

main > section > form > fieldset {
    border: none;
    padding: 20px 0;
    margin-bottom: 20px;
}

main > section > form > fieldset > input[type="radio"] {
    display: none;
}

main > section > form > fieldset:first-of-type {
    text-align: center;
}

main > section > form > fieldset > label {
    border: 1px solid black;
    margin: 0 0 30px 0;
    padding: 10px 5%;
}

main > section > form > fieldset > input[type="radio"]:checked + label {
    background-color: #bb2e29;
    color: white;
}

main > section > form > fieldset > label:first-of-type {
    border-radius: 10px 0 0 10px;
}

main > section > form > fieldset > label:last-of-type {
    border-radius: 0 10px 10px 0;
}

@media screen and (min-width: 768px) {
    main {
        min-height: 100vh;
    }
    main > div,
    main > section {
        vertical-align: top;
    }

    main > div {
        display: inline-block;
        width: 66%;
        min-height: 100vh; /* ask help :) */
        background-image: url("/public/img/vinile1.jpg");
        background-size: cover;
        margin: 0;
    }

    main > section {
        margin: 0;
        margin-top: 20px;
        display: inline-block;
        height: 100%;
        width: 34%;
    }

    main > section > form,
    main > section > h2,
    main > section > div {
        margin: 20px 10% 0;
    }
}
